<div class="b-post-container">
	<h3>{{ post.title }}</h3>
	<h5>How to speak</h5>
	<h5>so that people want to listen</h5>
	<h6 style="color: gray">{{ post.dateString }}</h6>
	<div
		style="border-top: lightgray 1px solid; border-bottom: lightgray 1px solid"
	>
		from
		<a
			href="https://www.ted.com/talks/julian_treasure_how_to_speak_so_that_people_want_to_listen"
			target="_blank"
			><u>Julian Treasure's TED talk</u></a
		>
	</div>
	<br />

	<div style="max-width: 600px; margin: auto; text-align: justify">
		<p class="eng-p">
			The human voice: It's the instrument we all play. It's the most powerful
			sound in the world, probably. It's the only one that can start a war or
			say "I love you." And yet many people have the experience that when they
			speak, people don't listen to them. And why is that? How can we speak
			powerfully to make change in the world?
		</p>

		<p>
			人类的声音可以引起战争，也可以说“我爱你”。然而很多人有这种经历，当他们说话的时候，人们并不在听。
			这是为什么呢？我们怎样才能说出有影响力的话语呢？
		</p>

		<p class="eng-p">
			There are a number of habits that we need to move away from. I've
			assembled for your pleasure here seven deadly sins of speaking.
		</p>

		<p>
			关于说话，我们有七个相当容易犯的毛病，迫切需要改变。姑且称为说话的七宗罪：
		</p>

		<p class="eng-p">
			First, gossip. Speaking ill of somebody who's not present. Not a nice
			habit, and we know perfectly well the person gossiping, five minutes
			later, will be gossiping about us.
		</p>

		<p>
			第一，流言蜚语，
			在背后说某人的坏话。这不是一个好习惯，我们都很明白，那个说闲话的人在五分钟以后
			就会在别人跟前说我们的闲话。
		</p>

		<p class="eng-p">
			Second, judging. We know people who are like this in conversation, and
			it's very hard to listen to somebody if you know that you're being judged
			and found wanting at the same time.
		</p>

		<p>
			第二，评判。与人对话时，如果你发现对方在有意无意得评判你，觉得你不够好，那么你很难听进那个人说的话。
		</p>

		<p class="eng-p">
			Third, negativity. You can fall into this. My mother, in the last years of
			her life, became very negative, and it's hard to listen. I remember one
			day, I said to her, "It's October 1 today," and she said, "I know, isn't
			it dreadful?"
		</p>

		<p>
			第三，消极。
			你能陷入这个泥潭。我的母亲，在她生命的最后几年里，变得非常非常消极，很难让人听她说话。
			我记得有一天，我对她说， “今天是十月一号，” 她说，“我知道，这不可怕吗？”
		</p>

		<p class="eng-p">
			Fourth, complaining. We complain about the weather, sport, about politics,
			about everything, but actually, complaining is viral misery. It's not
			spreading sunshine and lightness in the world.
		</p>

		<p>
			第四，抱怨。我们抱怨天气，体育和政治，抱怨每件事。但实际上抱怨是病毒性的，它不会在这个世界上传播光明。
		</p>

		<p class="eng-p">
			Fifth, Excuses. We've all met this guy. Maybe we've all been this guy.
			Some people have a blame-thrower. They just pass it on to everybody else
			and don't take responsibility for their actions, and again, hard to listen
			to somebody who is being like that.
		</p>

		<p>
			第五，借口。我们都遇上过这种人。也许我们都曾经是这种人。有些人只会怪罪任何人，而不会对自己的行为负责任。
			这也是让人难以聆听的一种。
		</p>

		<p class="eng-p">
			Sixth, embroidery, exaggeration. It demeans our language. For example, if
			I see something that really is awesome, what do I call it? And then, of
			course, this exaggeration becomes lying, and we don't want to listen to
			people we know are lying to us.
		</p>

		<p>
			第六，浮夸，吹牛。把六分的事情说成十分，它使我们的语言降级。
			当然这种夸大后来就变成了说谎。当我们知道一个人会说谎，我们是不愿听他说话的。
		</p>

		<p class="eng-p">
			Seventh, dogmatism. The confusion of facts with opinions. When those two
			things get conflated, you're listening into the wind. You know, somebody
			is bombarding you with their opinions as if they were true. It's difficult
			to listen to that.
		</p>

		<p>
			第七，固执己见，教条主义。把事实和看法混为一谈。
			有人把会他们自己的意见强加于你，却还洋洋自得地认为他们是在传播真理。我们很难听这种人讲话。
		</p>

		<br />
		<hr />
		<br />

		<p class="eng-p">
			So here they are, seven deadly sins of speaking. These are things I think
			we need to avoid. But is there a positive way to think about this? Yes,
			there is. I'd like to suggest that there are four really powerful
			cornerstones, foundations, that we can stand on if we want our speech to
			be powerful and to make change in the world.
		</p>

		<p>有没有什么方法让我们在说话上做出积极的改变呢？</p>
		<p>有的，做到以下四点: H-A-I-L:</p>

		<p class="eng-p">
			H, honesty, of course, being true in what you say, being straight and
			clear.
		</p>

		<p>H，代表了诚实（Honesty），你要说真话，要直接了当并且清楚明白。</p>

		<p class="eng-p">
			A is authenticity, just being yourself. A friend of mine described it as
			standing in your own truth, which I think is a lovely way to put it.
		</p>

		<p>
			A，代表了真实（Authenticity），做一个自然而然的自己。
			我的一个朋友把它描述为"屹立于自己地真实当中"，
			我觉得这是一个很优美的表述。
		</p>

		<p class="eng-p">
			I is integrity, being your word, actually doing what you say, and being
			somebody people can trust.
		</p>

		<p>I，代表了正直（Integrity），言而有信，说到做到，成为别人能信任的人。</p>

		<p class="eng-p">
			And the L is love. I don't mean romantic love, but I do mean wishing
			people well. Tempered with love, of course, honesty is a great thing. But
			also, if you're really wishing somebody well, it's very hard to judge them
			at the same time.
		</p>

		<p>
			L，代表爱（Love）。我不是指罗曼蒂克的爱情，而是指对别人有良好的祝愿。你可能不必总是保持绝对的诚实，
			比如，"天哪，今天早上你真难看"。这样的诚实是没有必要的。但如果加上爱，诚实就会变得很美好。
			另外，当你真的很希望别人好，就很难同时评判他们，因为你满心满眼只剩下祝福。
		</p>
	</div>

	<br />
	<br />
	<br />
	<br />
</div>
