<div
	class="b-post-container"
	style="background-color: #fafafa; margin-top: -2em; padding-top: 2em"
>
	<h3>{{ post.title }}</h3>
	<h5>Life as a swordsman ·【Vagabond】impressions</h5>
	<h6 style="color: gray">{{ post.dateString }}</h6>
	<hr />

	<div style="font-family: 'Kaiti SC'; font-size: 18px; font-weight: bold">
		<img
			src="assets/20180608/IMG_2911-sm.png"
			style="max-width: 600px"
		/>
		<br />
		<div>这个世界上才没有什么强者，</div>
		<div>有的只是想要变强的人。</div>
		<br />

		<img
			src="assets/20180608/IMG_2966-sm.png"
			style="max-width: 600px"
		/>
		<br />
		<div>渴望成为最强，这就是人性。</div>
		<br />

		<img
			src="assets/20180608/IMG_2906-sm.png"
			style="max-width: 500px"
		/>
		<br />
		<div class="phrase">
			自卑感本身只是在心里产生的小波浪，但它向着不安涌过去的话，心就会封闭起来。选择视而不见的话，在紧锁封闭的心里，不安很快就会变成恐惧，孕育敌意。
		</div>
		<br />
		<img
			src="assets/20180608/IMG_3048-sm.png"
			style="max-width: 500px"
		/>
		<br />
		<div class="phrase">做事要贯彻始终，那就是所谓的觉悟。</div>
		<div class="phrase">无法贯彻始终的人，就是弱者。</div>
		<img
			src="assets/20180608/IMG_3020-sm.png"
			style="max-width: 600px"
		/>

		<div>被一片叶子迷惑的话，就看不到树。</div>
		<div>被一棵树迷惑的话，就会看不到森林。</div>
		<img
			src="assets/20180608/IMG_3029-sm.png"
			style="max-width: 600px"
		/>

		<div>别把心留在任何地方,</div>
		<div>在不知不觉间…就会看到全部。</div>
		<img
			src="assets/20180608/IMG_2914-sm.png"
			style="max-width: 500px"
		/>

		<div>了解到什么是真正的强者的时候，</div>
		<div>就是成为真正强者的时候。</div>
		<br />
		<img
			src="assets/20180608/IMG_3041-sm.png"
			style="max-width: 500px"
		/>
		<br />
		<div>你越想去看，</div>
		<div>因为想看而越目不转睛地看，</div>
		<div>就会越看不见答案。</div>
		<br />
		<img
			src="assets/20180608/IMG_3030-sm.png"
			style="max-width: 600px"
		/>
		<br />
		<div>人很软弱，一群人聚在一起，</div>
		<div>过不多久便会忘记初衷，迷失了真正的自己。</div>
		<br />
		<img
			src="assets/20180608/IMG_3024-sm.png"
			style="max-width: 500px"
		/>

		<br />
		<div>现在的你活在这么狭窄的世界里，是不会懂的。</div>
		<div>在海里游泳的时候，是不会知道海的宽广的。</div>
		<br />
		<img
			src="assets/20180608/IMG_3305-sm.png"
			style="max-width: 700px"
		/>
		<br />
		<br />
		<div>身体只是一个管道，不要妨碍流动在里面的东西。</div>
		<br />
		<img
			src="assets/20180608/IMG_3328-sm.png"
			style="max-width: 700px"
		/>
		<br />

		<div>不懂得黑暗的人，是无法拥有光明的。</div>
		<div>背负着黑暗活下去吧。总有一天会见到光明的。</div>
		<br />
		<img
			src="assets/20180608/IMG_3034-sm.png"
			style="max-width: 600px"
		/>
		<br />
		<div class="phrase">
			只要有人为了变强而在努力挣扎的话，那个什么都不做的自己，就会显得很可怜。
			如果大家都一样倒也看不出来，但只要有一个是异类，那一点就会显现出来。自己的可怜之处。
			所以，他们想把那个人赶出去。
			但当他们知道这是做不到的，他们就会嘲笑那个人，看不起他，划清界限隔离他。
			那样的话，就可以不用再去审视自己了。
		</div>
		<br />

		<br />
		<img
			src="assets/20180608/IMG_3032-sm.png"
			style="max-width: 400px"
		/>
		<br />
		<div>当谎话不断堆砌起来，不知何时开始，</div>
		<div>我再也找不到真实。</div>
		<br />
		<img
			src="assets/20180608/IMG_3044-sm.png"
			style="max-width: 500px"
		/>
		<br />
		<div class="phrase">
			专心在一条路上前进，是很美好的。
			不过，一般人却做不到。迷失、误解、走回头路，那样也没所谓，你就回头望一下吧。
			虽然那边碰了壁，这边也是死胡同，而且有很多迷惑令你迷了路。
			不过你的道路，一定比任何人都更广阔。
		</div>
		<br />
		<img
			src="assets/20180608/IMG_3263-sm.png"
			style="max-width: 500px"
		/>
		<br />
		<div>如果认为生命只属于自己的话，</div>
		<div>生命是没有价值的。</div>
		<br />
		<img
			src="assets/20180608/IMG_2916-sm.png"
			style="max-width: 400px"
		/>
		<br />
		<div style="max-width: 450px;margin: auto;">
			"缘分，是一种意味深长的东西。 与他人的缘分；与小说及漫画的缘分；
			与一部电影或一首歌曲的缘分。 每当我在心底真心去寻求之时，
			那些东西就会如我所料地出现在那里。 那种缘分，一直给了我很大的帮助。"
		</div>
		<div style="padding-left: 100px">&mdash;&mdash; 井上雄彦</div>
		<br />
		<img
			src="assets/20180608/IMG_2955-sm.png"
			style="max-width: 400px"
		/>
		<br />
		<div>你看到的我只是你自己，</div>
		<div>你看到的世界是你自己的世界。</div>
		<br />
		<img
			src="assets/20180608/IMG_3249-sm.png"
			style="max-width: 600px"
		/>
		<br />

		<div>天下无双，只是一个字眼罢了。</div>
		<img
			src="assets/20180608/IMG_2958-sm.png"
			style="max-width: 500px"
		/>
		<br />

		<div>"描绘作品时，有什么是必要的呢？</div>
		<div>技术？知识？才能？努力？</div>
		<div>理想？热情？赞赏？批评？</div>
		<div>是内心的平静，这才是我现在觉得最重要的。"</div>
		<div style="padding-left: 100px">&mdash;&mdash; 井上雄彦</div>
		<img
			src="assets/20180608/IMG_3056-sm.png"
			style="max-width: 700px"
		/>
		<br />
		<div>以前的我应该也是这样的。</div>
		<div>为什么一直在绕路？</div>
		<div>为什么我不能那样子笔直地走过来？</div>
		<br />
		<img
			src="assets/20180608/IMG_3147-sm.png"
			style="max-width: 600px"
		/>
		<br />
		<div>让我背道而驰的是我自己。</div>
		<br />
		<img
			src="assets/20180608/IMG_3179-sm.png"
			style="max-width: 600px"
		/>
		<br />

		<div class="phrase">
			没有梦想的人看到有理想的人在努力，就会报以嘲笑，加以诋毁，认为即使努力了也不会怎么样，从而让自己在失败的深渊里可以过得更加舒服一些。
		</div>
		<br />

		<img
			src="assets/20180608/IMG_3059-sm.png"
			style="max-width: 700px"
		/>
		<br />
		<br />
		<div class="phrase">
			"是因为我想创作【身体】这个主题而选择了这个作品吗？
			还是因为这个作品，我才被引导向【身体】这个主题呢？
			在黎明时分独自绘画的时候，我突然想到了这个问题。
			虽然说不上成功，但是每当我画出了充满力量的漂亮的身体时，
			我就会洋溢着感激的心情，快乐得难以自控。"
		</div>
		<div style="padding-left: 100px">&mdash;&mdash; 井上雄彦</div>
		<img
			src="assets/20180608/IMG_2963-sm.png"
			style="max-width: 500px"
		/>

		<div class="phrase">对恐惧感到迟钝的人，会比谁都先死。</div>
		<br />
		<img
			src="assets/20180608/IMG_3276-sm.png"
			style="max-width: 700px"
		/>
		<br />
		<br />
		<div>"在挥剑的时候... 你在想什么？"</div>
		<div>"想的话，会被人斩死的。"</div>
		<br />
		<img
			src="assets/20180608/IMG_3126-sm.png"
			style="max-width: 600px"
		/>
		<br />
		<div class="phrase">你变成手臂了。你并不是你的手臂。</div>
		<br />
		<img
			src="assets/20180608/IMG_3273-sm.png"
			style="max-width: 600px"
		/>
		<br />
		<div>身体是个容器，要把里面做成虚空。</div>
		<div>我不在容器那边，要在虚空这边。</div>
		<br />
		<img
			src="assets/20180608/IMG_3229-sm.png"
			style="max-width: 500px"
		/>
		<br />
		<br />
		<div>不抗拒生命应有的姿态，只要那么做，</div>
		<div>你就已经完全得到 &mdash; 自由 &mdash;</div>
		<br />
		<img
			src="assets/20180608/IMG_3232-sm.png"
			style="max-width: 500px"
		/>
		<br />
		<br />
		<div class="phrase">
			"读高中时，有人劝我，选自己兴趣为工作，那会很辛苦。
			有人提议选稍有兴趣的东西为工作，会比较好。
			我没有听从。而事到如今，我庆幸做出了这个决定。
			如果我只有少许喜欢这份工作的话，相信我已经放弃了吧。 喜欢的东西 =
			自己。我是不会放弃自己的。"
		</div>
		<div style="padding-left: 100px">&mdash;&mdash; 井上雄彦</div>
		<br />
		<img
			src="assets/20180608/IMG_3046-sm.png"
			style="max-width: 700px"
		/>
	</div>
</div>
