.b-navbar-container {
	background-color: var(--b-near-black);
	position: fixed;
	left: 0px;
	top: -300px;
	z-index: 100;
	color: var(--b-near-white);
	padding-top: 310px;
	margin: 0px;
	width: 100%;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
	transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.b-navbar-container a {
	color: var(--b-near-white);
}

.b-navbar-container a:hover {
	text-decoration: none;
}

.b-navbar-large-text {
	font-size: xx-large;
	font-family: 'Monoton', cursive;
}

.b-navbar-small-text {
	font-size: small;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}
