<div class="b-post-container">
	<h3>荷兰如何养活了世界</h3>
	<h6 style="color: gray">{{ post.dateString }}</h6>
	<h6>原作者：Frank Viviano</h6>
	<h6>摄影：Luca Locatelli</h6>
	<div
		style="border-top: lightgray 1px solid; border-bottom: lightgray 1px solid"
	>
		原文载于
		<a
			href="https://www.nationalgeographic.com/magazine/2017/09/"
			target="_blank"
		>
			<u>《国家地理》杂志2017年9月期 </u>
		</a>
	</div>
	<br />
	<div style="text-align: start">
		<p>
			在荷兰边境与比利时接壤的一片马铃薯地里，荷兰农户Jacob van den
			Borne坐在一个巨型收割机的操作间内，面前的的仪表盘仿佛来自宇宙飞船。
		</p>

		<p>
			他坐在离地面三米高的座位上，监控着两台机器：一台漫游在田野的无人拖拉机和一架负责检测土壤，水成分的四轴飞行器，
			观察小到一个土豆的长势。农场的产量已经证明了这种被称为"精准农业"的生产方法的功效。全球平均每英亩土豆产量为九吨，
			van den Borne的地里稳定产出超过20吨。
		</p>

		<p>
			再看其成本，就会发现如此高产更加惊人。近二十年前，荷兰人举国投入到可持续农业的建设中来，口号是"用一半的资源产出两倍的食物"。
			自2000年以来，像van den
			Borne这样的农户降低了主要作物的对水依赖达90％。他们几乎完全消除了温室作物中化学农药的使用，
			自2009年以来，荷兰家禽和家畜生产者减少使用抗生素60％。
		</p>

		<img
			src="assets/20180312/hunger-solution-greenhouse-farm.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			荷兰西部地区的温室海洋。荷兰人已成为世界农业创新的领导者，开创了消除饥饿的新途径。
		</p>

		<img
			src="assets/20180312/hunger-solution-aerial-night.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			纵横错落的人造光犁为荷兰的温室之都Westland染上了另一种世界的色彩。
			在这些气候被控制的农场里，作物可以在任何天气下不间断生长。
		</p>

		<p>
			另一个令人惊叹的理由：荷兰是一个人口密集的小国，每平方英里有1300多名居民。它没有被认为是大规模农业所必需的几乎所有资源。
			然而，按价值衡量，它是全球第二大食品出口国，仅次于面积是其270倍的美国。
			荷兰人怎么做到的？
		</p>

		<p>
			从空中看，荷兰与其他主要食品生产国没有多大差别：一块块被紧密种植的农田，并且从农业商业的角度看，大部分规模都很小，
			不时被繁华的城市和郊区打断。
			在该国主要农业地区的马铃薯田，温室乃至猪谷仓中，都能瞥见摩天大楼，
			制造工厂或者其他城市的蔓延。全国一半以上的土地用于农业和园艺业。
		</p>

		<p>
			蔓延于乡村地区，看起来像是巨大的镜子的，是荷兰非凡的温室建筑群，其中一些覆盖达175英亩。
			它们白天在太阳下熠熠生辉，夜晚则发出神秘的光。
			这些距离北极圈仅几千英里的气候调控农场使一个国家成为出口番茄的全球领先者，一种只生长于好天气的水果。
			以价值衡量，荷兰也是世界上最大的马铃薯和洋葱出口国和全球第二大蔬菜出口国。
			全球超过三分之一的蔬菜种子贸易来自荷兰。
		</p>

		<img
			src="assets/20180312/hunger-solution-chickens.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			随着对鸡肉需求的增加，荷兰企业正在开发技术，
			以最大限度地提高家禽产量，同时确保人道条件。这个高科技的肉鸡舍可容纳15万只鸡，从孵化到收获。
		</p>

		<p>
			在这些令人震惊的数字背后，是以位于阿姆斯特丹东南50英里的瓦格宁根大学研究中心（WUR）为首的智力信托。
			WUR被广泛认为世界顶级农业研究机构，它是农业技术创业和试验农场"食谷"（Food
			Valley）的一个节点。
			食谷这个名字是对加利福尼亚硅谷的间接引用，瓦赫宁根则类似于斯坦福大学在其学术和企业合并中扮演的角色。
		</p>

		<p>
			WUR的植物科学集团管理主任Ernst van den Ende体现了食谷的混合特质。
			作为一位有着潮流咖啡馆服务生举止的著名学者，van den
			Ende是植物病理学的世界权威。 不过他说，“我不是简单的大学院长。
			一半的我在进行植物学研究，另一半的我却在管理着九个独立的商业合同研究单位。
			只有这样混合起来，”他认为，"科学与市场并驾齐驱，才可以应对眼前的挑战。”
		</p>

		<p>
			挑战？
			他直言不讳地说，这个星球必须在未来四十年内生产出更多的食物，比过去八千年来历史上所有的农收都多。
			这是因为到2050年，地球人口将从今天的75亿涨到100亿。
			如果农业产量没有实现大规模增长，同时水和化石燃料的使用大量减少，那么十亿或更多的人可能会面临饥饿。
			饥饿可能是21世纪最迫切的问题，在食谷工作的远见者相信他们找到了创新的解决方案。
			van den Ende坚信，能够抵御灾难性饥荒的手段是可以实现的。
			他的乐观基于来自140多个国家的1000多个WUR项目的反馈意见，以及与六大洲政府和大学达成的正式协议，分享进展并加以实施。
		</p>

		<img
			src="assets/20180312/hunger-solution-scientist.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			在哪种LED光照位置下西红柿长得最好，从上面，侧面还是某种组合？ 植物学家Henk
			Kalkman在布雷斯维克（Bleiswijk）的德菲（Delphy）改进中心寻求答案。
			学者和企业家之间的合作是荷兰创新的关键驱动力。
		</p>

		<p>
			与van den Ende的对话是一场统计与预测的头脑风暴。 非洲干旱？
			“水不是根本问题。糟糕的土壤是问题，" 他说。
			"营养物质的缺乏可以通过培养与某些细菌共生的植物来抵消，从而产生自己的肥料。"
			饲料动物的粮食成本飙升？ "喂它们蚱蜢，" 他说。
			一公顷的土地每年能生产一吨大豆蛋白来饲养家畜。
			同等大小的土地可以产生150吨昆虫蛋白。
		</p>

		<p>
			我们谈到了使用LED照明，以便在精确的气候控制温室中进行24小时作物种植。
			随后谈到了"认为可持续农业意味着对自然界最小的人为干预"这样的误解。"看看巴厘岛！”他大声说道。
			至少在一千年内，农民们在种植水稻的淹水稻田里饲养鸭子和鱼。
			这是一个完全自给自足的食物系统，位于山坡上，由人工凿出的复杂运河系统灌溉。"
		</p>

		<p>"这就是你的可持续发展模型，" van den Ende说。</p>

		<img src="assets/20180312/hunger-solution-cows.jpg" width="100%" />
		<p class="figure-caption">
			旋转式挤奶机使一名操作员能够在瓦赫宁根大学的乳品园区每小时挤奶150头奶牛，
			研究人员试图解决人口稠密的荷兰奶牛养殖带来的挑战。
		</p>

		<img
			src="assets/20180312/hunger-solution-urban-farmer.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			在海牙市中心的一家前工厂的屋顶温室中，
			用废弃鱼肥料处理的番茄植物比城市农民Paul Jeannet长得还要高。
			该项目于2016年开张，包括一个农产品市场和一家酒吧。
		</p>

		<p>
			在荷兰的每一个角落，可持续农业的未来正在形成。
			不是在大公司的董事会会议室，而是在数千个家庭农场里。 像巴厘岛民一样，Ted
			Duijvestijn 和他的兄弟 Peter，Ronald和Remco建立了一个自给自足的食物体系，
			呈现出美轮美奂的地貌，在人类的智慧和自然潜力之间达到了近乎完美的平衡。
			在代尔夫特老城附近，近36英亩的温室大楼中，游客漫步在20英尺高的深绿色番茄树丛中。
			这些植物并不植根于土壤，而是植根于玄武岩和白垩纤维中。
			藤蔓上结满了十五种西红柿，以满足最苛求的味蕾。2015年，
			一个由园艺专家组成的国际评审团将
			Duijvestijn兄弟评为世界上最具创新的番茄种植者。
		</p>

		<p>
			自从2004年搬迁和重建他们70年的农场以来，Duijvestijns公司宣布每个方面的资源独立。
			农场生产几乎所有自己的能源和化肥，甚至包括作物分销和销售所需的一些包装材料。
			凭借荷兰地下含水层所产生的地热，生长环境全年保持在最佳温度。
		</p>

		<p>
			唯一的灌溉来源是雨水，Ted说，他负责管理培育计划。
			这里的拥有纤维根系环境的西红柿每公斤只需要少于4加仑的水，而露天田地需要16加仑。
			每年一次，整个作物都是从种子中重新生长出来，而老的藤蔓则被加工成包装箱。
			少有的几只进入Duijvestijn温室的害虫会受到一支贪婪的军队的欢迎，
			例如凶猛的Phytoseiulus persimilis，一种对西红柿不感兴趣的掠食性螨，
			但会对数百只破坏性的蜘蛛螨狼吞虎咽。
		</p>

		<p>
			在我参观了Duijvestins的行动前几天，Ted出席了瓦格宁根的农民与研究员会议。
			"这就是我们如何提出创新的方法来继续前进，继续改进，" 他告诉我。
			"来自荷兰各地的人们聚在一起讨论不同的观点和共同的目标。
			没有人自己知道所有的答案。"
		</p>

		<img
			src="assets/20180312/hunger-solution-children.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			Jan和Gijs van den Borne在他们家庭超高产农场种植的土豆山上玩耍，
			这种农场产量是全球平均水平的两倍。原因？
			无人机和其他工具评估每个作物的健康状况， 并确定他们需要的水量和营养物质。
		</p>

		<img
			src="assets/20180312/hunger-solution-algae.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			Ruud Veloo在瓦格宁根大研究所（WUR）的AlgaePARC，
			监测实验性“光生物反应器”。
			光能促进微藻的生长，微藻用于生产蛋白质和脂质，这是许多食物链的基础。
		</p>

		<p>
			寻找生死攸关问题的答案酝酿出荷兰最具创新性的公司之一。 半个世纪前，Jan
			Koppert在他的土地上种植黄瓜，并使用有毒化学喷雾剂来抵御害虫。
			当医生宣布他对杀虫剂过敏时，Koppert开始尽全力了解昆虫和蛛形纲动物的天敌。
		</p>

		<p>
			今天，Koppert生物系统公司是生物病虫害防治的全球领导者，
			共有1,330名员工和26个国际子公司在96个国家销售其产品。
			Koppert的公司可以为您提供瓢虫幼虫的棉袋，成熟后成为蚜虫的贪婪消费者。
			或者如果一瓶含有2000种捕食植物上的蜘蛛螨并吮吸它们的掠食性螨的瓶子呢？
			或者是一盒5亿个线虫？它们可以在危害商业蘑菇的苍蝇幼虫身上发动致命的攻击。
		</p>

		<p>
			Koppert军团以热情的大黄蜂为幌子，以爱和战争为荣。
			没有任何形式的人工授粉能与在花丛中嗡嗡作响的蜜蜂相媲美。蜜蜂采集花蜜滋养他们的女王，顺便帮助沿途植物授粉。
			每个Koppert蜂巢蜜蜂每天访问50万朵鲜花。使用蜜蜂的农民报告产量和果重通常增加20％到30％，
			而成本不到人工授粉的一半。
		</p>

		<img
			src="assets/20180312/hunger-solution-students-crop.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			WUR的教师和学生说，知识是荷兰最有价值的出口，一半的研究生都来自其他国家，
			其中一些国家受到反复饥荒的威胁。
		</p>

		<p>
			荷兰的农业技术中最前沿的要属"种子" --
			大多数食物的根源。也正是围绕这个领域，关于未来农业的争议更加激烈。
			其中最主要的是发展转基因生物以生产更大和更具抗虫害的作物。对其批评者来说，转基因生物想起科学怪人的场景，
			充满了对生物体进行激进实验后果的不确定性。
		</p>

		<p>
			荷兰公司在种子业务领域处于世界领先地位，2016年出口额接近17亿美元。然而，他们不销售转基因产品。
			根据KeyGene的Arjen van
			Tunen的说法，一个在欧洲严格监管的转基因生物领域的新种子品种可能耗资1亿美元，
			需要12至14年的研发。 相比之下，分子育种科学领域的最新研究成果 -
			不含外源基因 - 在5到10年内可以获得显着的收益，
			开发成本低至10万美元，且很少超过100万美元。
			这是一万年前新月沃土农民采用的方法的直接后裔。
		</p>

		<p>
			Rijk Zwaan公司提供超过25大类蔬菜的高产种子，其中许多蔬菜自然防御主要害虫。
			Heleen Bos负责公司的有机账户和国际开发项目。她没有细聊一个高科技Rijk
			Zwaan温室的番茄种子，
			价格低于0.50美元，如何会产生令人难以置信的150磅西红柿。
			相反，她谈到那缺乏足够的食物的数亿人，其中大多数是妇女和儿童。
		</p>

		<img
			src="assets/20180312/hunger-solution-generator.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			番茄种植者Jasper Oussoren检查发电机，将天然气转化为电力进行照明。 副产品 -
			热量和二氧化碳被捕获并用于温室增温和促进植物生长。
		</p>

		<p>
			像食谷公司的许多企业家一样，Bos曾在全球最贫穷国家的田间和城市工作过。
			在过去30年里，她先后就职于莫桑比克，尼加拉瓜和孟加拉国，
			她知道饥饿和毁灭性的饥荒不是抽象的威胁。
		</p>

		<p>
			"当然，我们不能立即在那些地方执行你在荷兰见到的高科技，" 她说。
			"但是我们很好地引进了可以产生巨大影响的中等技术解决方案。"
			她引用了相对便宜的塑料温室的推广的例子，这些温室的作物产量比露天田更高，
			因为露天田的农作物更容易受害虫和干旱的影响。
		</p>

		<p>
			自2008年以来，在坦桑尼亚乞力马扎罗山山阴处的一个占地50英亩的试验场， Rijk
			Zwaan扶持了一个育种计划。其种子被送往荷兰进行质量控制测试，
			测试其发芽率，纯度和对病虫害的抵抗力。肯尼亚，秘鲁和危地马拉也正在开展合作项目。
			"我们试图为他们的特定条件开发种子，" Bos说。但她强调：
			出发点不能是那种注定使许多善意的外援项目失败的自上而下的方法。
		</p>

		<p>
			"我们与小型种植者本身保持沟通，就他们的需求，
			他们所面临的天气和土壤条件以及成本等进行了持续的，非常重要的对话，" 她说。
		</p>

		<img
			src="assets/20180312/hunger-solution-greenpack.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			荷兰在全球食品出口方面仅次于美国，部分原因在于现代加工公司，
			如Greenpack，该公司将新鲜水果和蔬菜全天候运往世界各地。
			大部分产品在其他国家种植，散装运往荷兰鹿特丹港，为消费者包装，
			然后通过空运，铁路和海运进入市场。
		</p>

		<p>
			就一些荷兰研究人员来说，对遭受饥饿威胁的人的关注部分来自于国家创伤：
			荷兰是最后一个遭受严重饥荒的西方国家，在第二次世界大战的最后一年，一到两万人在德占区死亡。
			数十年后，WUR的可持续发展与食品安全名誉教授Rudy Rabbinge为WUR建设师资，
			学生团体和介绍课程的广泛变革，将该机构转变为他所称的“世界大学，而不仅仅是为了荷兰人。
			“今天，WUR的大量学术和研究活动都集中在贫穷国家面临的问题上。
		</p>

		<p>
			约45％的研究生 - 包括近三分之二的博士学位候选人 -
			都来自海外，代表着上百个国家。
			以中国人和印度尼西亚人为首的亚洲人，几乎超过所有非荷兰人的欧洲人。
			WUR校友在非洲，亚洲和拉丁美洲农业部门的最高层中被发现。
		</p>

		<p>
			在校园食堂，我和三位WUR最有前途的学生坐在一起，这个描述不久前就意味着他们是男性，
			并且是荷兰本地人。
			这现在这三人是来自乌干达，尼泊尔和印度尼西亚的年轻女性。
		</p>

		<img
			src="assets/20180312/hunger-solution-soil-samples.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			博物馆管理员Stephan Mantel监督WUR的世界土壤博物馆。
			来自世界各地的约1200个土壤样本，该集合是研究人员和土地使用管理人员的宝贵资源。
		</p>

		<p>
			"当我还是乌干达本科的时候，我遇到了一位瓦赫宁根的校友，"
			当我问她是如何来这里时， Leah Nandudu告诉我。 "她是一名表型鉴定专家，"
			这是一个详细描述植物特征和潜力的高级研究领域。
			"这让我我发现非洲人可以做这些事情。 她是未来; 她是我们需要去的地方。"
		</p>

		<p>
			最终Nandudu获得WUR奖学金。她的父亲耕种了三英亩土地，分为咖啡和香蕉。
			她的母亲在一所小学教英语，并在田间帮助。
			"我们遇到了农民今天到处都面临的所有问题，
			乃至更糟，特别是气候变化带来的影响。"
		</p>

		<p>
			Pragya
			Shrestha在尼泊尔农村长大，其中一些地区由于多年依赖农药和化肥而受挫。
			迄今为止，健全的可持续方法几乎没有被成功引入。
		</p>

		<p>
			"这是一个政治问题，" 她说。 由于公共资金短缺，新的培育方法无法实施。 "
			这也是一个人口问题，土地分为越来越小的地块，只适合使用低效率的人力劳作，收入很少。"
		</p>

		<img
			src="assets/20180312/hunger-solution-weather.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			Westland的农民对天气并不担心，因为80％的耕地都在温室玻璃之下。
			该地区占荷兰园艺生产的近一半。
		</p>

		<p>
			Renna Eliana Warjoto来自印度尼西亚第三大城市万隆。
			"人们不相信来自国外的想法，" 她说，Shrestha和Nandudu点头同意。
			"农民习惯了边缘生活和收入，" 她补充道，"他们很难相信事情会有所不同。"
		</p>

		<p>
			1944-45年间，一场致命的饥荒袭击了万隆所在的爪哇岛，造成大约240万人死亡。
			直到到2005年，地区性作物歉收仍然困扰印度尼西亚。由于干旱和基本进口品价格高昂，
			尼泊尔农村会定期失去粮食供给。2011年，非洲之角的饥荒影响了1300万人，
			2017年有160万乌干达人在没有国外快速援助的情况下面临饥荒。
			所有这些事件在当时都已经是不可想象的，但未来却可能更糟。
			据联合国统计，仅三个非洲国家和也门红海的饥荒威胁人数就超过了2000万，
			而且正在不可阻挡地上升。 "我们正面临联合国成立以来最大的人道主义危机。"
			该组织的紧急救援协调员Stephen O’Brien在3月份警告说。
		</p>

		<p>
			"我们最艰巨的任务是改变我们自己人民的看法 -
			关于我们面临的危机和我们必须采取的措施来解决它，" Nandudu说。
			"当我回家时，这就是我的工作。我们不能逃避现实。“
		</p>

		<img
			src="assets/20180312/hunger-solution-greenhouse-roof.jpg"
			width="100%"
		/>
		<p class="figure-caption">
			位于海牙的一家前工厂的一个农场，
			以自我维持的模式，循环生产蔬菜和鱼类：鱼类废弃物用于对植物进行施肥，
			植物反过来过滤出供给鱼类的水。当地的餐馆自豪地提供这些在城市中出产的蔬菜和鱼。
		</p>

		<p>
			位于瓦格宁根以南约4000英里，在非洲东部裂谷的一片家庭拥有的豆田中，
			来自荷兰农业技术公司SoilCares的一个团队在解释一个小型手持设备的功能。
			通过与手机应用程序配合使用，该设备可分析土壤的pH值，有机质和其他性质，
			然后将结果上传到荷兰的数据库，并返回关于最佳肥料使用和营养需求的详细报告 -
			所有任务完成于10分钟内。该报告只需花费几美元，
			为那些从未获得任何类型土壤取样的农民提供了巨大帮助。
		</p>

		<p>
			全球大约5.7亿个农场中只有不到5％可以利用土壤实验室。荷兰人视此为挑战。
		</p>

		<p>
			"我们的工作对发展中国家意味着什么？这个问题总在这里提起，"
			负责WUR的动物科学小组的Martin Scholten说。 "这是我们每次谈话的一部分。"
		</p>

		<video width="100%" height="auto" controls>
			<source
				src="assets/20180312/how-nl-feeds-the-world.mp4"
				type="video/mp4"
			/>
			Your browser does not support the video tag.
		</video>
	</div>
</div>

<br />
<br />
