<div class="container">
  <hr>
  <h3>{{post.title}}</h3>
  <h6 style="color: gray">{{post.dateString}}</h6>
  <img src="assets/icons/harrypotter.png" >
  <hr>
  <div style="text-align: center">
    <div>英国原版 (Original UK Edition)</div>
    <img src="assets/20171105/uk-bloomsbury-hp-all-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>英国2011签名版 (UK 2011 Signature Edition)</div>
    <img src="assets/20171105/uk-bloomsbury-signature-hp-all-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>英国2013成人版 (UK 2013 Adult Edition)</div>
    <img src="assets/20171105/uk-hp-all-adult-woodcut-Andrew Davidson-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>英国2014版 (UK 2014 Edition)</div>
    <img src="assets/20171105/uk-new-bloomsbury-hp-Jonny Duddle-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>美国原版 (Original US Edition)</div>
    <img src="assets/20171105/us-scholastic-hp-Mary GrandPre-all-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>美国2013版 (US 2013 Edition)</div>
    <img src="assets/20171105/us-new-scholastic-hp-Kazu Kibuishi-all-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>美国2013版背面 (US 2013 Edition Back)</div>
    <img src="assets/20171105/us-new-back-scholastic-hp-all-Kazu Kibuishi-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>美国2018版 (US 2018 Edition)</div>
    <img src="assets/20171105/us-new-scholastic-hp-Brian%20Selznick-all-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>中文版 (Chinese Edition)</div>
    <img src="assets/20171105/ch-hp-all-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>日文版 (Japanese Edition)</div>
    <img src="assets/20171105/jp-hp-all-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>荷兰版 (Dutch Edition)</div>
    <img src="assets/20171105/nl-hp-all-Ien van Laanen-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>荷兰口袋版 (Dutch Pocket Edition)</div>
    <img src="assets/20171105/nl-hp-all-Rob Westendorp-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>法文版 (French Edition)</div>
    <img src="assets/20171105/fr-hp-all-Jean-Claude Gotting-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>瑞典版 (Swedish Edition)</div>
    <img src="assets/20171105/swe-hp-all-Alvaro Tapia-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>德文版 (German Edition)</div>
    <img src="assets/20171105/ger-hp-all-Sabine Wilharm-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>德文有声版 (German Audio Edition)</div>
    <img src="assets/20171105/ger-hp-all-audio-Olly Moss-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>西班牙版 (Spanish Edition)</div>
    <img src="assets/20171105/es-hp-all-Dolores Avendano-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>M. S. Corley版 (M. S. Corley Edition)</div>
    <img src="assets/20171105/M. S. Corley Edition-all-s.png" width="99%">
  </div>
  <br>
  <div>
    <div>印度尼西亚版 待续 (Indonesian Edition, continued)</div>
    <img src="assets/20171105/indonesian-hp-all-s.png" width="99%">
  </div>
  <br>
  <br>
</div>
